@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}

.container {
    margin: auto;
    max-width: 90%;
    width: 80%;
    position: relative;
    display: grid;
    grid-template-areas: "header header" "nav article"  "footer footer";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(3 , 1fr);
    grid-gap: 10px;
    align-content: center;
}

.coral {
    background-color: coral;
}

h1 {
    text-align: center;
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
    padding: 10px;
}

nav ul {
    list-style-type: none;
}

nav a {
    text-decoration: none;
}

article {
    grid-area: article;
}

footer {
    text-align: center;
    grid-area: footer;
}